*{
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-image: url(image/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#navbar__logo{
    text-decoration: none;
    color:rgb(11, 11, 11);
    background-color:rgb(213, 208, 208);
    background-image: linear-gradient(to top,#d6d6f0 13%,rgb(217, 130, 234) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    display:flex;
    height: center;
    padding-left:43%;
    margin-right: 10px;
    padding-top: 48px;
    margin: center;
    position: center;
    font-size:2.5rem;
    font-family:fantasy;
    transform:translateY(25px);
    transition: 1s;
}

.contains1{
    text-align:center;
    justify-content:center;
    padding-top:8%;
    padding-bottom: 3%;
    color:rgb(217, 221, 225);

}
.section{
    margin:0;
    padding:0;
    height:100vh;
    justify-content: center;
    align-items:center;
    margin-left:6%;
}
.slider{
    width: 850px;
    height: 500px;
    border-radius:10px;
    overflow:hidden;
}
.slide{
    width:500%;
    height:500px;
    display:flex;
}
.slide input{
    display:none;
}
.st{
    width:20%;
    transition: 2s;
}
.st img{
    
    height:500px;
}
.nav-m{
    position:absolute;
    width:800px;
    margin-top:-40px;
    justify-content:center;
    display: flex;
    margin-left:3%;
}
.m-btn{
    border:2px solid rgb(213, 208, 208);
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right:30px;
}
.m-btn:hover{
    background-color:#c3c1c1;
}
#radio1:checked ~.first{
    margin-left:-0%;
}
#radio2:checked ~.first{
    margin-left:-20%;
}
#radio3:checked ~.first{
    margin-left:-40%;
}


.nav-auto{
    position:absolute;
    width:800px;
    margin-top: 460px;
    display:flex;
    justify-content:center;
    margin-left:3%;
}
.nav-auto div{
    border:2px solid rgb(213, 208, 208);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content:center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color:#c3c1c1;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color:#c3c1c1;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color:#c3c1c1;
}



.both{
    display:flex;
    justify-content:space-between ;
}
.section2{
    margin:0;
    padding:0;
    height:100vh;
    justify-content: center;
    align-items:center;
    margin-right:4%;
    
}
.slider2{
    width: 400px;
    height: 500px;
    border-radius:10px;
    overflow:hidden;
}
.slide2{
    width:500%;
    height:500px;
    display:flex;
}
.slide2 input{
    display:none;
    
}
.nav-m2{
    position:absolute;
    margin-top:-40px;
    justify-content:center;
    display:flex;
    margin-left: 3%;
    justify-content: center;
}
.m-btn2{
    border:2px solid rgb(213, 208, 208);
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}
.m-btn2:not(:last-child){
    margin-right:30px;
}
.m-btn2:hover{
    background-color:#c3c1c1;
}
#radio11:checked ~.second{
    margin-left:-0%;
}
#radio22:checked ~.second{
    margin-left:-20%;
}
#radio33:checked ~.second{
    margin-left:-40%;
}

.nav-auto2{
    position:absolute;
    margin-top:-1100px;
    display:flex;
    justify-content:center;
    margin-left:3%;
}
.nav-auto2 div{
    border:2px solid rgb(213, 208, 208);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto2 div:not(:last-child){
    margin-right: 30px;
    justify-content:center;
}
#radio11:checked ~ .nav-auto2 .a-b11{
    background-color:#c3c1c1;
}
#radio22:checked ~ .nav-auto2 .a-b22{
    background-color:#c3c1c1;
}
#radio33:checked ~ .nav-auto2 .a-b33{
    background-color:#c3c1c1;
}
.st2{
    width:20%;
    transition: 2s;
}
.st2 img{
    width:100%;
    height:100%;
}
.contactf{
    justify-content:space-between;
    padding-left:6%;
    padding-right:7%;
}
.gps{
    margin:30px;

}
.cborder{
    padding-left:6%;
    padding-right:7%;
    border: 2px solid rgba(71, 71, 71, 0.3);
    background-color: rgb(59, 59, 59);
    border-radius:20px;
    
    text-align:center;
}
.gbn{
    display:flex;
}
.contact{
    margin-top:20px;
display:block;
color:aliceblue;
}
.inputs{
    padding:30px;
    
}
.name__1{
    border:2px solid rgba(159, 158, 158, 0.2);
    border-radius:20px;
    height:fit-content;
    width:120%;
    padding-bottom:20px;
    background-color: rgba(159, 158, 158, 0.2);
    margin:30px;
    margin-top:5px;
}
.email{
    border:2px solid rgba(159, 158, 158, 0.2);
    border-radius:20px;
    height:fit-content;
    width:120%;
    background-color: rgba(159, 158, 158, 0.2);
    margin:30px;
    
}
.suggest{
    border:2px solid rgba(159, 158, 158, 0.2);
    border-radius:20px;
    background-color: rgba(159, 158, 158, 0.2);
    height:fit-content;
    width:120%;
    margin:30px;
}
.cn{
    height:30px;
    width:80%;
    margin:20px;
    border:2px solid white;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}
.cn2{
    border:2px solid white;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    height:127px;
    width:80%;
    margin:20px;
}
h5{
    color:aliceblue;
    font-size:30px;
}

.send{
    border:2px solid rgba(159, 158, 158, 0.2);
    border-radius:20px;
    background-color: rgba(159, 158, 158, 0.2);
    height:50%;
    width:20%;
    font-size: 32px;
    cursor: pointer;
}
.send:hover{
    border:2px solid rgba(159, 158, 158, 0.2);
    border-radius:20px;
    background-color: rgba(159, 158, 158, 0.2);
    height:55%;
    width:25%;
    font-size: 37px;
    cursor: pointer;
    transition:1s;
}

.send-btn:active{
    height:55%;
    width:25%;
    font-size: 37px;
    cursor: pointer;
    transition:1s;
    margin-left:90%;
}
.highlights {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding:60px;
        color:rgb(255, 251, 251);
        font-size:3.4em;
        font-weight: bold;
        margin-left: 6%;
        margin-right: 6%;
        border:2px solid;
        border-color:rgb(1, 1, 55);
        background-image: url(image/OIPpppppppp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        border-radius: 250px;
        align-items: baseline;
        text-align: center;
        justify-content: center;
    }

h3{
    font-size:2.5em;
    font-weight: bold;
    text-align:center;
}

.icon{
    width: 24px;
    height:24px;
    border-radius:100%;
    border: 3px solid #fff;
    background:#8e44ad;
    cursor:pointer;
    visibility: visible;
}

.icon:after{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, 50%) scale(1.1);
    pointer-events:none;
    content:"";
    display:block;
    width:26.4px;
    height:26.4px;
    border-radius: 100%;
    border: 1px solid #8e44ad;
    transition: border-color 1s linear;
    animation: icon-pulse 4s linear infinite;
}

@keyframes icon-pulse {
    0%{
        transform: translate(-50%, -50%) scale(1.5,1.5);
        opacity:o;
    }

    20%{
        transform: translate(-50%, -50%) scale(1.5,1.5);
        opacity:o.9;
    }

    50%{
        transform: translate(-50%, -50%) scale(2,2);
        opacity:o.9;
    }

    100%{
        transform: translate(-50%, -50%) scale(2,2);
        opacity:o.9;
    }

}

.tooltip{
    position: absolute;
    padding: 15px;
    width:13em;
    height: 15em;
    background-color: rgba(253, 252, 252, 0.4);
    color:#000;
    box-shadow: 0 2px 4px rgba(0 , 0, 0, 0.4);
    line-height: 1.5em;
    z-index: -1;
    pointer-events: none;
    border-top-right-radius: 19px;
    border-bottom-left-radius:19px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip h3{
    font-size: 24px;
    margin-bottom: 10px;

}

.tooltip{
    bottom:calc(45% - 3.5em);
    left:48px;
    top:-110px;
    opacity:0;
    transition: opacity 0.1s linear;
}

.tooltip:after{
    color: rgba(253, 252, 252, 0.4);
    position:absolute;
    content:"";
    left: -10px;
    border-right: 13px  solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.item:hover .tooltip{
    opacity:1;

}
.item{
    position:absolute;
    transform: translate(-50% , -50%);
}
.navbar__menu{
    display:flex;
    align-items:center;
    list-style:none;
    text-align:center;
    padding:0;
    margin:0;
    position: center;
    transition: 1s;
}

.navbar__links{
    display:block;
    align-items:center;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size:27px;
    padding:24px;
    transform:translateX(7px);
}
.navbar__links:hover{
    color:rgb(11, 11, 11);
    background-image: linear-gradient(to top,#2330e3 32%,rgb(255, 237, 37) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color: transparent;
    transition:all ease 2s;
}

.navbar__container{
    display: flex;
    justify-content:center;
    height:80px;
    z-index:1;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    padding:30 30px;
    height:100px;
    position: center;
}
.navbar__item{
display:inline-block;
}
.navbar{
    background-color: rgba(253, 252, 252, 0.1);
    height:30vh;
    position: sticky;
    top:0;
    z-index:999;
}
#footer__logo{
    text-decoration: none;
    color:rgb(11, 11, 11);
    background-color:rgb(213, 208, 208);
    background-image: linear-gradient(to top,#2330e3 13%,rgb(255, 237, 37) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    display:flex;
    height: center;
    margin: center;
    position: center;
    font-size:2.5rem;
    font-family:fantasy;
    padding-left: 70px;
    padding-top: 30px;
    transition: 1s;
}
.back_back{
    background-color:rgba(159, 158, 158, 0.8);
    height: 100%;
    margin-right:7%;
    margin-left:6%;
    justify-content:center;
    border:1px solid rgba(159, 158, 158, 0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:-12%;
}
.backs{
    background-color:rgb(59, 61, 63);
    background-size: 10%;
    height:400px;
    width:450px;
    margin-left:12%;
    border:1px solid rgb(59, 61, 63);
    border-radius: 10px;
}
.onit{
    background-color:rgb(42, 44, 45);
    height:200px;
    width:450px;
    margin-left:40%;
    padding-bottom:20%;
    transform:translateY(-10);
    border:1px solid rgb(42, 44, 45);
    border-radius: 10px;
    align-items: center;
}
.contains{
    text-align:center;
    justify-content:center;
    padding-top:25%;
    color:rgb(217, 221, 225);

}
.what__is{
    text-align:center;
    padding:10%;
    padding-bottom:2%;
    font-size:18px;
}
.secondp{
    text-align:center;
    padding:10%;
    padding-bottom:5%;
    font-size:18px;
}
h2{
    text-align:center;
    padding:10%;
    font-size:14px;
    padding-bottom:2%;
}
.Quick{
    color:#fffbfb;
    padding:30px;
    padding-left: 100px;
    align-items: center;
}
.also{
    color:#fffbfb;
    padding:30px;
    align-items: center;
    padding-left: 100px;
}
.explore{
    color:#fffbfb;
    padding:30px;
    padding-left: 100px;
    align-items: center;
}
.follow{
    color:#fffbfb;
    padding:30px;
    padding-left: 100px;
    align-items: center;
}
.social__links{
    text-align: center;
    justify-content: space-between;
    display:flex;
    color:rgb(110, 113, 116);
    display:block;
    align-items:center;
    text-decoration: none;
    justify-content: center;
    padding-top:40px;
    padding:20px;
    font-size:30px;
}
.social__item{
    display:inline-block;
}
.footer__ul{
    display:flex;
    flex-wrap: wrap;
    padding:30px;
    padding-top:15px;
    padding-left:45px;
}
.footer{
    background-color: rgb(24, 25, 26);
    height:fit-content;
    align-items: center;
}
.footer__links{
    text-align: center;
    padding-top:20px;
    justify-content:space-around;
    text-decoration: none;
    color:rgb(110, 113, 116);
    font-size:18px;
}
.footer__links:hover{
    color:#fffbfb;
}
.social__links:hover{
    color:#fffbfb;
}
.footer__item{
    padding:4px;
    padding-left:8px;
}

.footer__container{
    padding-left:100px;
}
h4{
    padding-bottom:20px;
    font-size:30;
}
.copy{
    color:aliceblue;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding-left:30%;
}

@media screen and (max-width: 500px){
            
}